<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.message">

    <application>
        <activity android:name=".view.MsgActivity">
        </activity>
        <activity android:name=".view.SendMsgActivity"></activity>
        <activity android:name=".camera.CameraActivity"></activity>
        <provider
            android:enabled="true"
            android:exported="false"
            android:authorities="com.camera"
            android:grantUriPermissions="true"
            android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/paths">
            </meta-data>
        </provider>
    </application>

</manifest>